.ligne {
    display : flex;
    flex-direction: row;
}

.ligne > * {
    margin : 10px;
    flex : 1;
}

.colonne {
    display : flex;
    flex-direction: column;
}
.colonne > * {
    margin : 10px;
    flex : 1;
}
